body{font-family: 'Roboto', sans-serif;}
body,html{height: 100%; overflow: hidden;} 
button{cursor:pointer;}
#container-fluid{width: 100%;
  overflow: hidden;
    height: 100%;
    margin: 0;
    
  
}
.wrpr_itmcntnr{height: 100%; }

#wrpr_itm{  width:486px; margin: auto; overflow: hidden; 
    border-bottom: solid 1px #676089;padding:10px 0px;}
.img_cntnr{float:left;}
.img_cntnr h4{ color:#191919; margin: 0px; margin-top: 5px;}
.cntnt_cntnr{float:left; margin-left: 30px;}
.cntnt_cntnr h3{ margin: 0; margin-bottom: 10px; color: #27630e;}
.cntnt_cntnr h4{ margin: 0; margin-bottom: 10px; font-weight: 400;}

.btn_wrpr{width:100%; float:left;}
.btn_wrpr button {
    background-color: #65ce34;
    color: #191919;
    font-size: 16px;
    padding: 7px 38px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.price{ font-weight: bold !important;}
.wrpr_addrmve{float: right;}
.wrpr_addrmve button {
    width: 40px;
    height: 30px;
    border-radius: 50%;
    color: #000;
    font-size: 23px;
    padding: 0px;
    line-height: 0px;
}

.wrpr_totalbx{padding:5px 0px; background-color: #ed81ee; width:501px; margin: auto; 
    overflow: hidden; position: fixed; left:0; right:0; bottom: 0;}

.wrpr_totalbx h3 {
    float: left;
    clear: left;
    margin: 0px;
    color: #272470;
}
.wrpr_totalbx button{background-color: #65ce34;
    color: #191919;
    font-size: 16px;
    padding: 7px 38px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
float: right; margin:8px 12px 0px 12px;}
.quality{margin-left: 10px; float:left;}
.scrll_box {
    height: 100%;
    overflow-y: scroll;
    width: 501px;
    margin: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}
.cntnr_totl_bx{ width:100%; height: 60px; margin: 0; float:left; }
.modal{width:100%; height:100%; background-color: rgba(0,0,0,0.5);position: absolute; transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;z-index: 9;display: flex;align-items: center;
  justify-content: center;
 }
 .alert{width:40%;  background-color: #fff; text-align: center; padding: 15px 0px;}
 .alert span{color: #65ce34; font-size: 18px;}
 .alert h3{    margin: 0px;
  margin-top: 10px;}
  .wrpr_addrmve span{margin:10px;}
 button:disabled{background-color: #ddd;}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
@media only screen and (max-width: 500px) {
    body,html{height: 100%; } 
    #wrpr_itm{width:100%;}
    .img_cntnr {
        width: 100%;
        text-align: center;
    }
    .alert{width:80%;}
    .cntnt_cntnr {
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    .scrll_box{width:100%; }
    .btn_wrpr button{float:left;}
    .wrpr_addrmve span{ float:left; margin-left:10px; margin-right:10px; margin-top:8px ;}
    .wrpr_totalbx{width:100%; padding-left: 10px; padding-right: 10px;}
    .wrpr_totalbx button{margin-right: 22px;}
  }